{% extends 'base.html' %}
{% block title %}欢迎光临首页{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    {{ request.user.username }}，您好！
{% else %}
    请登陆，这里放登陆链接
{% endif %}
<hr>
7.2.1 获取当前网址：
{{ request.path }}</br>
7.2.2 获取当前 GET 参数：
{{ request.GET.urlencode }}</br>

<a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>
<hr>
{% include 'nav.html' %}
这里是首页，欢迎光临！
<hr>
1、下面是变量string的使用:
{{string}}
</br>
2、循环使用
{% for i  in onelist %}
{{i}}
{% endfor %}
</br>
3、字典使用：
站点：{{ dict.site }}
内容：{{ dict.content }}
</br>
【第二种方法】
{% for key,value  in dict.items %}
  {{key}}:{{value}}
{% endfor %}
</br>
{% for itm  in List %}
  {{itm}}{% if not forloop.last %},{% endif %}
{% endfor %}
</br>
<ul>
{% for athlete in athlete_list %}
    <li>{{ athlete.name }}</li>
{% empty %}
    <li>抱歉，列表为空</li>
{% endfor %}
</ul>
{% endblock %}
